{
  "userSettings": {
    "roaming": {
      "SFP.Properties.Settings": {
        "AppTheme": "System Default",
        "CheckForUpdates": "True",
        "CloseToTray": "True",
        "DummySetting": "True",
        "DumpPages": "False",
        "ForceSteamArgs": "True",
        "InjectCSS": "True",
        "InjectJS": "True",
        "InjectJSWarningAccepted": "True",
        "InjectOnAppStart": "True",
        "InjectOnSteamStart": "True",
        "MinimizeToTray": "True",
        "RunOnBoot": "True",
        "RunSteamOnStart": "True",
        "SelectedSkin": "MetroSteam",
        "ShowTrayIcon": "False",
        "StartMinimized": "True",
        "SteamDirectory": "c:\\program files (x86)\\steam",
        "SteamLaunchArgs": "-silent -cef-enable-debugging",
        "UseAppTheme": "True"
      }
    }
  }
}