mode_in_use=2
mode_default=3
show_panel_entry=false
panel_entry_size=150
port=2628
server=dict.org
dict=* (use all)
spell_bin=/usr/bin/aspell
spell_dictionary=en_US
link_color=rgb(139,233,253)
phonetic_color=rgb(80,250,123)
error_color=rgb(255,85,85)
success_color=rgb(80,250,123)
geometry=0;1105;1920;982;1;
speedreader_font=Sans 32
speedreader_wpm=400
speedreader_grouping=1
speedreader_mark_paragraphs=false
web_url=

