KERNEL=="uinput", SUBSYSTEM=="misc", TAG+="uaccess", OPTIONS+="static_node=uinput", GROUP="input", MODE="0666"

    SUBSYSTEM=="usb", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="0063", TAG+="uaccess", MODE:="666", GROUP="plugdev", SYMLINK+="streamdeck-mini"
    SUBSYSTEM=="usb", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="0090", TAG+="uaccess", MODE:="666", GROUP="plugdev", SYMLINK+="streamdeck-mini"
    SUBSYSTEM=="usb", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="0060", TAG+="uaccess", MODE:="666", GROUP="plugdev", SYMLINK+="streamdeck"
    SUBSYSTEM=="usb", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="006d", TAG+="uaccess", MODE:="666", GROUP="plugdev", SYMLINK+="streamdeck"
    SUBSYSTEM=="usb", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="0080", TAG+="uaccess", MODE:="666", GROUP="plugdev", SYMLINK+="streamdeck"
    SUBSYSTEM=="usb", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="006c", TAG+="uaccess", MODE:="666", GROUP="plugdev", SYMLINK+="streamdeck-xl"
    SUBSYSTEM=="usb", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="008f", TAG+="uaccess", MODE:="666", GROUP="plugdev", SYMLINK+="streamdeck-xl"
    SUBSYSTEM=="usb", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="0086", TAG+="uaccess", MODE:="666", GROUP="plugdev", SYMLINK+="streamdeck-pedal"
